*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgba(24, 24, 24);
}

body{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
   
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    margin: 16rem 8rem;
}

h1 {
    font-size: 4rem;
}

p {
    font: size 1.3remm;
    width: 55%;
    color: rgb(107,107,122);
    
}
